.card-container{
    margin-top: 2rem;
.left-container {
    display: flex;
    justify-content: center;
 img {
    width: 350px;
    height: 450px;
    border-radius: 20px;
}
}
.right-container h4 {
    color: rgb(78, 78, 78);
}
}